<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li>
    <a href="javascript://" [routerLink]="['/main']">
      <clr-icon shape="home"></clr-icon> {{ 'BREADCRUMB_HOME' | translate }}
    </a>
  </li>
  <li>
    <a href="javascript://">{{ 'BREADCRUMB_ABOUT_US' | translate }}</a>
  </li>
</ol>

<div class="text-center" style="margin-top: 10px;">
  <img width="200" alt="Image" src="../../../../../assets/images/copyfromPrj.png">
  <h1 style="color: rgb(30, 122, 228)">
    <b>{{ 'ABOUT_TITLE' | translate }}</b>
  </h1>
  <strong>{{ 'ABOUT_DESCRIPTION' | translate }}</strong>
</div>
